[core]
    editor = nvim
    autocrlf = input
[push]
    default = current
[pull]
    rebase = false

# Personal stuff 
[includeIf "gitdir:~/src/personal/"]
    path = ~/.config/git/personal.gitconfig

# Work stuff 
[includeIf "gitdir:~/repos/"]
    path = ~/.config/git/work.gitconfig

# Fallback machine-local overrides 
[include]
    path = ~/.gitconfig.local

[user]
    useConfigOnly = true
	name = Andrew Klaudt
	email = andrew.klaudt@external.cnhind.com

[alias]
    sm = submodule update --init --recursive
    smf = submodule update --init --recursive --force

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@gitlab.cnh.com/"]
	insteadOf = https://gitlab.cnh.com/
